
{% extends 'layouts/layout.html'%}
{% block content %}
{% load static %}
  
    <section>
      <div class="container">
        <div class="hero_bgcolor">
          <div class="row">
            <div class="col-md-7">
              <div class="hero_content_text">
                <h1>Become a junior software developer typesetting</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                <div class="hero_btn">
                 <a href="#">Leran More</a>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="hero_title">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="hero_content_text_responsive">
                <h1>Become a junior software developer typesetting</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                <div class="hero_btn_responsive">
                 <a href="#">Leran More</a>
              </div>
              </div>
          </div>
        </div>
      </div>
    </section>
    <section class="review_bgcolor">
      <div class="container">
        <div class="row aligns-item-center">
          <div class="col-md-3 col-sm-6 col-6">
            <div class="review_grid review_grid_star review_grid_star_bottom_gap">
             <h3> <span> <span class="rating_review">4.3</span> <img src="{% static 'assets/images/black-star.png'%}" class="img-fluid five_star"> <span class="rating_review">(12,000)</span> </span></h3>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-6">
            <div class="media review_people review_grid_star_bottom_gap">
              <img src="{% static 'assets/images/33308.png' %}" class="img-fluid">
              <div class="media-body media-body_review_text">
                 <h3>40 Million + Learners</h3>
              </div>
            </div>
          </div>
           <div class="col-md-3 col-sm-6 col-6">
            <div class="media review_people">
              <img src="{% static 'assets/images/33308.png' %}" class="img-fluid">
              <div class="media-body media-body_review_text">
                 <h3>40 Million + Learners</h3>
              </div>
            </div>
          </div>
           <div class="col-md-3 col-sm-6 col-6">
            <div class="media review_people">
              <img src="{% static 'assets/images/33308.png' %}" class="img-fluid">
              <div class="media-body media-body_review_text">
                 <h3>40 Million + Learners</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
   
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading">
              <span>You set the goal</span>
              <h1>We’ll Mark The Path</h1>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
          </div>
         </div>
      </div>
    </section>
    <section class="first_card_tab">
      <div class="container">
        <div class="row">
           <div class="col-md-12">
            <div class="tabset">
<!-- Tab 1 -->
  <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
  <label for="tab1">Sharpen your skills</label>
  <!-- Tab 2 -->
  <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
  <label for="tab2">Change careers</label>
  <!-- Tab 3 -->
  <input type="radio" name="tabset" id="tab3" aria-controls="dunkles">
  <label for="tab3">Level up as a leader</label>
  
   <!-- Tab 4 -->
  <input type="radio" name="tabset" id="tab4" aria-controls="dunkles111">
  <label for="tab4">Earn a degree</label>

  <div class="tab-panels">
    <section id="marzen" class="tab-panel">
      <h2>Lorem Ipsum is simply dummy text </h2>
      <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since  orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
      <div class="row">
        <div class="col-md-4">
        <div class="card_main_width">
        <div class="card card_img_tag">
          <img src="{% static 'assets/images/images.jpg' %}" class="img-fluid">
          <div class="card-body card_body_h1_tag">
            <a href="#" tabindex="-1"><h1>The Killer feature of markdown</h1></a>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
            <!-- <span class="card-body-1"> <a href="#" tabindex="-1">Read More</a> </span> -->
          </div>
        </div>
      </div>
        </div>
        <div class="col-md-4">
        <div class="card_main_width">
        <div class="card card_img_tag">
          <img src="{% static 'assets/images/web.webp' %}" class="img-fluid">
          <div class="card-body card_body_h1_tag">
            <a href="#" tabindex="-1"><h1>The Killer feature of markdown</h1></a>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
            <!-- <span class="card-body-1"> <a href="#" tabindex="-1">Read More</a> </span> -->
          </div>
        </div>
      </div>
        </div>
        <div class="col-md-4">
        <div class="card_main_width">
        <div class="card card_img_tag">
          <img src="{% static 'assets/images/web-devel-important.jpg' %}" class="img-fluid">
          <div class="card-body card_body_h1_tag">
            <a href="#" tabindex="-1"><h1>The Killer feature of markdown</h1></a>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
            <!-- <span class="card-body-1"> <a href="#" tabindex="-1">Read More</a> </span> -->
          </div>
        </div>
      </div>
        </div>
      </div>
  </section>
    <section id="rauchbier" class="tab-panel">
      <h2>6B. Rauchbier</h2>
      <p><strong>Overall Impression:</strong>  An elegant, malty German amber lager with a balanced, complementary beechwood smoke character. Toasty-rich malt in aroma and flavor, restrained bitterness, low to high smoke flavor, clean fermentation profile, and an attenuated finish are characteristic.</p>
      <p><strong>History:</strong> A historical specialty of the city of Bamberg, in the Franconian region of Bavaria in Germany. Beechwood-smoked malt is used to make a Märzen-style amber lager. The smoke character of the malt varies by maltster; some breweries produce their own smoked malt (rauchmalz).</p>
    </section>
    <section id="dunkles" class="tab-panel">
      <h2>6C. Dunkles Bock</h2>
      <p><strong>Overall Impression:</strong> A dark, strong, malty German lager beer that emphasizes the malty-rich and somewhat toasty qualities of continental malts without being sweet in the finish.</p>
      <p><strong>History:</strong> Originated in the Northern German city of Einbeck, which was a brewing center and popular exporter in the days of the Hanseatic League (14th to 17th century). Recreated in Munich starting in the 17th century. The name “bock” is based on a corruption of the name “Einbeck” in the Bavarian dialect, and was thus only used after the beer came to Munich. “Bock” also means “Ram” in German, and is often used in logos and advertisements.</p>
    </section>
  </div>
  
</div>
</div>
</div>
</div>
</section>

<section class="icon_section_bgcolor">
  <div class="container">
    <div class="row">
       <div class="col-md-12">
            <div class="heading">
               <span>Explore</span>
              <h1>5,000+ Free Online Courses</h1>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
       </div>
       <div class="col-md-12">
        <section class="regular slider">
    <div>
      <div class="icon_explore icon_explore_gap">
        <img src="{% static 'assets/images/01.jpg' %}" class="img-fluid">
          <h2>WordPress</h2>
      </div>
    </div>
    <div>
      <div class="icon_explore icon_explore_gap">
        <img src="{% static 'assets/images/02.jpg' %}" class="img-fluid">
          <h2>Search Engine
Optimization (SEO)</h2>
      </div>
    </div>
   <div>
      <div class="icon_explore icon_explore_gap">
        <img src="{% static 'assets/images/03.jpg' %}" class="img-fluid">
          <h2>Computer
Programing</h2>
      </div>
    </div>
   <div>
      <div class="icon_explore icon_explore_gap">
        <img src="{% static 'assets/images/04.jpg' %}" class="img-fluid">
          <h2>Elementor</h2>
      </div>
    </div>
   <div>
      <div class="icon_explore icon_explore_gap">
        <img src="{% static 'assets/images/05.jpg' %}" class="img-fluid">
          <h2>Web Design</h2>
      </div>
    </div>
   <div>
      <div class="icon_explore icon_explore_gap">
        <img src="{% static 'assets/images/01.jpg' %}" class="img-fluid">
          <h2>Wordpress</h2>
      </div>
    </div>
  </section>
       </div>
    </div>
  </div>
</section>

<section class="free_online_bgcolor">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
            <div class="heading">
               <span>Recommended to you</span>
              <h1>Based On Ratings </h1>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
       </div>
       <div class="col-md-12">
         <section class="regular1 slider">
<div>
<div>
<button class="card widthcard" id="pover-card" class="btn btn-lg btn-info" data-toggle="popover" data-trigger="action" data-placement="right">
  <img src="{% static 'assets/images/portfolio-1.png' %}" alt="Avatar" style="width:100%">
  <div class="container_text container_text_bgcolor_gray">
    <h2>Reactfolio: Boost your online presence with react</h2> 
    <!-- <p>Architect & Engineer</p>  -->
   <div class="review_grid_card gapreview_grid">
      <h3> <span class="rating_review_high">4.3</span> <img src="{% static 'assets/images/gold-star.png' %}" class="img-fluid"> <span class="rating_review_high">(12,000)</span> </h3>
    </div>
    <p>By Lorem Ipsum</p> 
    <div class="tile_list_price">
    <p>RM 5,999</p>
    
  </div>
  </div>
</button>
<div  class="popover-content"> 
<!-- <div id="popover-third" class="font_effect_heading">The third popover content goes here.</div> -->
<div id="popover-card" >
	<div class="card text-center">
		<div class="card-header font_effect_heading">
			Complete Spanish Course: Master Spanish Beginner to Advanced
      <div class="bestseller_text_card_hover">Bestseller</div>
      <div class="total_hourse">
        <p>15.5 total hoursAll LevelsSubtitles, CC</p>
      </div>
		</div>
		<div class="card-body card-body_popover">
			<h4 class="card-title_pragraph">Lorem Ipsum is simply dummy text of the printing </h4>
		   <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
			<div class="btn_card__popover">
        <a href="#" class="btn1 btn-secondary1_bgcolor">Add to cart</a>
        <a href="#" class="img_heart_whislist"><img src="{% static 'assets/images/heart.png' %}"></a>
      </div>
		</div>
		<!-- <div class="card-footer text-muted bg-warning text-right">
			<small class="text-white">
				2 days ago
			</small>
		</div> -->
	</div>	
</div>
</div>
</div>
</div>
 <div>
<div>
<button class="card widthcard" id="pover-card" class="btn btn-lg btn-info" data-toggle="popover" data-trigger="action" data-placement="right">
  <img src="{% static 'assets/images/web-dev.jpg'%}" alt="Avatar" style="width:100%">
  <div class="container_text container_text_bgcolor_gray">
    <h2>Reactfolio: Boost your online presence with react.</h2> 
    <!-- <p>Architect & Engineer</p>  -->
   <div class="review_grid_card gapreview_grid">
      <h3> <span class="rating_review_high">4.3</span> <img src="{% static 'assets/images/gold-star.png' %}" class="img-fluid"> <span class="rating_review_high">(12,000)</span> </h3>
    </div>
    <p>By Lorem Ipsum</p> 
    <div class="tile_list_price">
    <p>RM 5,999</p>
    
  </div>
  </div>
</button>
<div  class="popover-content"> 
<!-- <div id="popover-third" class="font_effect_heading">The third popover content goes here.</div> -->
<div id="popover-card" >
	<div class="card text-center">
		<div class="card-header font_effect_heading">
			Complete Spanish Course: Master Spanish Beginner to Advanced
      <div class="bestseller_text_card_hover">Bestseller</div>
      <div class="total_hourse">
        <p>15.5 total hoursAll LevelsSubtitles, CC</p>
      </div>
		</div>
		<div class="card-body card-body_popover">
			<h4 class="card-title_pragraph">Lorem Ipsum is simply dummy text of the printing </h4>
		   <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
			<div class="btn_card__popover">
        <a href="#" class="btn1 btn-secondary1_bgcolor">Add to cart</a>
        <a href="#" class="img_heart_whislist"><img src="{% static 'assets/images/heart.png' %}"></a>
      </div>
		</div>
		<!-- <div class="card-footer text-muted bg-warning text-right">
			<small class="text-white">
				2 days ago
			</small>
		</div> -->
	</div>	
</div>
</div>
</div>
</div>
    <div>
<div>
<button class="card widthcard" id="pover-card" class="btn btn-lg btn-info" data-toggle="popover" data-trigger="action" data-placement="right">
  <img src="{% static 'assets/images/learn-Web-development.jpg' %}" alt="Avatar" style="width:100%">
  <div class="container_text container_text_bgcolor_gray">
    <h2>Reactfolio: Boost your online presence with react.</h2> 
    <!-- <p>Architect & Engineer</p>  -->
   <div class="review_grid_card gapreview_grid">
      <h3> <span class="rating_review_high">4.3</span> <img src="{% static 'assets/images/gold-star.png' %}" class="img-fluid"> <span class="rating_review_high">(12,000)</span> </h3>
    </div>
    <p>By Lorem Ipsum</p> 
    <div class="tile_list_price">
    <p>RM 5,999</p>
    
  </div>
  </div>
</button>
<div  class="popover-content"> 
<!-- <div id="popover-third" class="font_effect_heading">The third popover content goes here.</div> -->
<div id="popover-card" >
	<div class="card text-center">
		<div class="card-header font_effect_heading">
			Complete Spanish Course: Master Spanish Beginner to Advanced
      <div class="bestseller_text_card_hover">Bestseller</div>
      <div class="total_hourse">
        <p>15.5 total hoursAll LevelsSubtitles, CC</p>
      </div>
		</div>
		<div class="card-body card-body_popover">
			<h4 class="card-title_pragraph">Lorem Ipsum is simply dummy text of the printing </h4>
		   <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png'%}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png'%}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png'%}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
			<div class="btn_card__popover">
        <a href="#" class="btn1 btn-secondary1_bgcolor">Add to cart</a>
        <a href="#" class="img_heart_whislist"><img src="{% static 'assets/images/heart.png'%}"></a>
      </div>
		</div>
		<!-- <div class="card-footer text-muted bg-warning text-right">
			<small class="text-white">
				2 days ago
			</small>
		</div> -->
	</div>	
</div>
</div>
</div>
</div>
   <div>
<div>
<button class="card widthcard" id="pover-card" class="btn btn-lg btn-info" data-toggle="popover" data-trigger="action" data-placement="right">
  <img src="{% static 'assets/images/make-money-as-a-content-creator.webp' %}" alt="Avatar" style="width:100%">
  <div class="container_text container_text_bgcolor_gray">
    <h2>Reactfolio: Boost your online presence with react.</h2> 
    <!-- <p>Architect & Engineer</p>  -->
   <div class="review_grid_card gapreview_grid">
      <h3> <span class="rating_review_high">4.3</span> <img src="{% static 'assets/images/gold-star.png' %}" class="img-fluid"> <span class="rating_review_high">(12,000)</span> </h3>
    </div>
    <p>By Lorem Ipsum</p> 
    <div class="tile_list_price">
    <p>RM 5,999</p>
    
  </div>
  </div>
</button>
<div  class="popover-content"> 
<!-- <div id="popover-third" class="font_effect_heading">The third popover content goes here.</div> -->
<div id="popover-card" >
	<div class="card text-center">
		<div class="card-header font_effect_heading">
			Complete Spanish Course: Master Spanish Beginner to Advanced
      <div class="bestseller_text_card_hover">Bestseller</div>
      <div class="total_hourse">
        <p>15.5 total hoursAll LevelsSubtitles, CC</p>
      </div>
		</div>
		<div class="card-body card-body_popover">
			<h4 class="card-title_pragraph">Lorem Ipsum is simply dummy text of the printing </h4>
		   <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png'%}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
			<div class="btn_card__popover">
        <a href="#" class="btn1 btn-secondary1_bgcolor">Add to cart</a>
        <a href="#" class="img_heart_whislist"><img src="{% static 'assets/images/heart.png ' %}"></a>
      </div>
		</div>
		<!-- <div class="card-footer text-muted bg-warning text-right">
			<small class="text-white">
				2 days ago
			</small>
		</div> -->
	</div>	
</div>
</div>
</div>
</div>
   <div>
<div>
<button class="card widthcard" id="pover-card" class="btn btn-lg btn-info" data-toggle="popover" data-trigger="action" data-placement="right">
  <img src="{% static 'assets/images/maxresdefault.jpg' %}" alt="Avatar" style="width:100%">
  <div class="container_text container_text_bgcolor_gray">
    <h2>Reactfolio: Boost your online presence with react.</h2> 
    <!-- <p>Architect & Engineer</p>  -->
   <div class="review_grid_card gapreview_grid">
      <h3> <span class="rating_review_high">4.3</span> <img src="{% static 'assets/images/gold-star.png' %}" class="img-fluid"> <span class="rating_review_high">(12,000)</span> </h3>
    </div>
    <p>By Lorem Ipsum</p> 
    <div class="tile_list_price">
    <p>RM 5,999</p>
    
  </div>
  </div>
</button>
<div  class="popover-content"> 
<!-- <div id="popover-third" class="font_effect_heading">The third popover content goes here.</div> -->
<div id="popover-card" >
	<div class="card text-center">
		<div class="card-header font_effect_heading">
			Complete Spanish Course: Master Spanish Beginner to Advanced
      <div class="bestseller_text_card_hover">Bestseller</div>
      <div class="total_hourse">
        <p>15.5 total hoursAll LevelsSubtitles, CC</p>
      </div>
		</div>
		<div class="card-body card-body_popover">
			<h4 class="card-title_pragraph">Lorem Ipsum is simply dummy text of the printing </h4>
		   <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
			<div class="btn_card__popover">
        <a href="#" class="btn1 btn-secondary1_bgcolor">Add to cart</a>
        <a href="#" class="img_heart_whislist"><img src="{% static 'assets/images/heart.png' %}"></a>
      </div>
		</div>
		<!-- <div class="card-footer text-muted bg-warning text-right">
			<small class="text-white">
				2 days ago
			</small>
		</div> -->
	</div>	
</div>
</div>
</div>
</div>
<div>
<div>
<button class="card widthcard" id="pover-card" class="btn btn-lg btn-info" data-toggle="popover" data-trigger="focus" data-placement="right">
  <img src="{% static 'assets/images/maxresdefault.jpg'%}" alt="Avatar" style="width:100%">
  <div class="container_text container_text_bgcolor_gray">
    <h2>Reactfolio: Boost your online presence with react.</h2> 
    <!-- <p>Architect & Engineer</p>  -->
   <div class="review_grid_card gapreview_grid">
      <h3> <span class="rating_review_high">4.3</span> <img src="{% static 'assets/images/gold-star.png'%}" class="img-fluid"> <span class="rating_review_high">(12,000)</span> </h3>
    </div>
    <p>By Lorem Ipsum</p> 
    <div class="tile_list_price">
    <p>RM 5,999</p>
    
  </div>
  </div>
</button>
<div  class="popover-content"> 
<div id="popover-third">The third popover content goes here.</div>
<div id="popover-card" class="">
	<div class="card text-center">
		<div class="card-header">
			Complete Spanish Course: Master Spanish Beginner to Advanced
		</div>
		<div class="card-body">
			<h4 class="card-title">Special title treatment</h4>
			<p class="card-text">Using data-trigger="focus" causes the popover to close when you click away. Options are hover|focus|click</p>
			<a href="#" class="btn btn-secondary">Go somewhere</a>
		</div>
		<!-- <div class="card-footer text-muted bg-warning text-right">
			<small class="text-white">
				2 days ago
			</small>
		</div> -->
	</div>	
</div>
</div>
</div>
</div>
  </section>
      </div>
    </div>
    </div>
  </div>
</section>

<section class="free_online_bgcolor">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
            <div class="heading">
               <span>What to</span>
              <h1>Learn Next</h1>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
       </div>
       <div class="col-md-12">
         <section class="regular1 slider">
<div>
<div>
<button class="card widthcard" id="pover-card" class="btn btn-lg btn-info" data-toggle="popover" data-trigger="action" data-placement="right">
  <img src="{% static 'assets/images/web-dev.jpg' %}" alt="Avatar" style="width:100%">
  <div class="container_text container_text_bgcolor_blue">
    <h2>Complete Web Development Courses</h2> 
    <!-- <p>Architect & Engineer</p>  -->
   <div class="review_grid_card gapreview_grid">
      <h3> <span class="rating_review_high">4.3</span> <img src="{% static 'assets/images/gold-star.png' %}" class="img-fluid"> <span class="rating_review_high">(12,000)</span> </h3>
    </div>
    <p>By Lorem Ipsum</p> 
    <div class="tile_list_price">
    <p>RM 5,999</p>
    
  </div>
  </div>
</button>
<div  class="popover-content"> 
<!-- <div id="popover-third" class="font_effect_heading">The third popover content goes here.</div> -->
<div id="popover-card" >
	<div class="card text-center">
		<div class="card-header font_effect_heading">
			Complete Spanish Course: Master Spanish Beginner to Advanced
      <div class="bestseller_text_card_hover">Bestseller</div>
      <div class="total_hourse">
        <p>15.5 total hoursAll LevelsSubtitles, CC</p>
      </div>
		</div>
		<div class="card-body card-body_popover">
			<h4 class="card-title_pragraph">Lorem Ipsum is simply dummy text of the printing </h4>
		   <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
			<div class="btn_card__popover">
        <a href="#" class="btn1 btn-secondary1_bgcolor">Add to cart</a>
        <a href="#" class="img_heart_whislist"><img src="{% static 'assets/images/heart.png' %}"></a>
      </div>
		</div>
		<!-- <div class="card-footer text-muted bg-warning text-right">
			<small class="text-white">
				2 days ago
			</small>
		</div> -->
	</div>	
</div>
</div>
</div>
</div>
 <div>
<div>
<button class="card widthcard" id="pover-card" class="btn btn-lg btn-info" data-toggle="popover" data-trigger="action" data-placement="right">
  <img src="{% static 'assets/images/python-img.jpg' %}" alt="Avatar" style="width:100%">
  <div class="container_text container_text_bgcolor_blue">
    <h2>The complete python bootcamp</h2> 
    <!-- <p>Architect & Engineer</p>  -->
   <div class="review_grid_card gapreview_grid">
      <h3> <span class="rating_review_high">4.3</span> <img src="{% static 'assets/images/gold-star.png' %}" class="img-fluid"> <span class="rating_review_high">(12,000)</span> </h3>
    </div>
    <p>By Lorem Ipsum</p> 
    <div class="tile_list_price">
    <p>RM 5,999</p>
    
  </div>
  </div>
</button>
<div  class="popover-content"> 
<!-- <div id="popover-third" class="font_effect_heading">The third popover content goes here.</div> -->
<div id="popover-card" >
	<div class="card text-center">
		<div class="card-header font_effect_heading">
			Complete Spanish Course: Master Spanish Beginner to Advanced
      <div class="bestseller_text_card_hover">Bestseller</div>
      <div class="total_hourse">
        <p>15.5 total hoursAll LevelsSubtitles, CC</p>
      </div>
		</div>
		<div class="card-body card-body_popover">
			<h4 class="card-title_pragraph">Lorem Ipsum is simply dummy text of the printing </h4>
		   <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png ' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
			<div class="btn_card__popover">
        <a href="#" class="btn1 btn-secondary1_bgcolor">Add to cart</a>
        <a href="#" class="img_heart_whislist"><img src="{% static 'assets/images/heart.png' %}"></a>
      </div>
		</div>
		<!-- <div class="card-footer text-muted bg-warning text-right">
			<small class="text-white">
				2 days ago
			</small>
		</div> -->
	</div>	
</div>
</div>
</div>
</div>
    <div>
<div>
<button class="card widthcard" id="pover-card" class="btn btn-lg btn-info" data-toggle="popover" data-trigger="action" data-placement="right">
  <img src="{% static 'assets/images/aws.jpg' %}" alt="Avatar" style="width:100%">
  <div class="container_text container_text_bgcolor_blue">
    <h2>Ultimate AWS Certified Developers Associate</h2> 
    <!-- <p>Architect & Engineer</p>  -->
   <div class="review_grid_card gapreview_grid">
      <h3> <span class="rating_review_high">4.3</span> <img src="{% static 'assets/images/gold-star.png' %}" class="img-fluid"> <span class="rating_review_high">(12,000)</span> </h3>
    </div>
    <p>By Lorem Ipsum</p> 
    <div class="tile_list_price">
    <p>RM 5,999</p>
    
  </div>
  </div>
</button>
<div  class="popover-content"> 
<!-- <div id="popover-third" class="font_effect_heading">The third popover content goes here.</div> -->
<div id="popover-card" >
	<div class="card text-center">
		<div class="card-header font_effect_heading">
			Complete Spanish Course: Master Spanish Beginner to Advanced
      <div class="bestseller_text_card_hover">Bestseller</div>
      <div class="total_hourse">
        <p>15.5 total hoursAll LevelsSubtitles, CC</p>
      </div>
		</div>
		<div class="card-body card-body_popover">
			<h4 class="card-title_pragraph">Lorem Ipsum is simply dummy text of the printing </h4>
		   <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
			<div class="btn_card__popover">
        <a href="#" class="btn1 btn-secondary1_bgcolor">Add to cart</a>
        <a href="#" class="img_heart_whislist"><img src="{% static 'assets/images/heart.png' %}"></a>
      </div>
		</div>
		<!-- <div class="card-footer text-muted bg-warning text-right">
			<small class="text-white">
				2 days ago
			</small>
		</div> -->
	</div>	
</div>
</div>
</div>
</div>
   <div>
<div>
<button class="card widthcard" id="pover-card" class="btn btn-lg btn-info" data-toggle="popover" data-trigger="action" data-placement="right">
  <img src="{% static 'assets/images/maxresdefault.jpg' %}" alt="Avatar" style="width:100%">
  <div class="container_text container_text_bgcolor_blue">
    <h2>Complete web design Beginner to Expert</h2> 
    <!-- <p>Architect & Engineer</p>  -->
   <div class="review_grid_card gapreview_grid">
      <h3> <span class="rating_review_high">4.3</span> <img src="{% static 'assets/images/gold-star.png' %}" class="img-fluid"> <span class="rating_review_high">(12,000)</span> </h3>
    </div>
    <p>By Lorem Ipsum</p> 
    <div class="tile_list_price">
    <p>RM 5,999</p>
    
  </div>
  </div>
</button>
<div  class="popover-content"> 
<!-- <div id="popover-third" class="font_effect_heading">The third popover content goes here.</div> -->
<div id="popover-card" >
	<div class="card text-center">
		<div class="card-header font_effect_heading">
			Complete Spanish Course: Master Spanish Beginner to Advanced
      <div class="bestseller_text_card_hover">Bestseller</div>
      <div class="total_hourse">
        <p>15.5 total hoursAll LevelsSubtitles, CC</p>
      </div>
		</div>
		<div class="card-body card-body_popover">
			<h4 class="card-title_pragraph">Lorem Ipsum is simply dummy text of the printing </h4>
		   <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
			<div class="btn_card__popover">
        <a href="#" class="btn1 btn-secondary1_bgcolor">Add to cart</a>
        <a href="#" class="img_heart_whislist"><img src="{% static 'assets/images/heart.png ' %}"></a>
      </div>
		</div>
		<!-- <div class="card-footer text-muted bg-warning text-right">
			<small class="text-white">
				2 days ago
			</small>
		</div> -->
	</div>	
</div>
</div>
</div>
</div>
   <div>
<div>
<button class="card widthcard" id="pover-card" class="btn btn-lg btn-info" data-toggle="popover" data-trigger="action" data-placement="right">
  <img src="{% static 'assets/images/maxresdefault.jpg'%}" alt="Avatar" style="width:100%">
  <div class="container_text container_text_bgcolor_blue">
    <h2>Reactfolio: Boost your online presence with react.</h2> 
    <!-- <p>Architect & Engineer</p>  -->
   <div class="review_grid_card gapreview_grid">
      <h3> <span class="rating_review_high">4.3</span> <img src="{% static 'assets/images/gold-star.png' %}" class="img-fluid"> <span class="rating_review_high">(12,000)</span> </h3>
    </div>
    <p>By Lorem Ipsum</p> 
    <div class="tile_list_price">
    <p>RM 5,999</p>
    
  </div>
  </div>
</button>
<div  class="popover-content"> 
<!-- <div id="popover-third" class="font_effect_heading">The third popover content goes here.</div> -->
<div id="popover-card" >
	<div class="card text-center">
		<div class="card-header font_effect_heading">
			Complete Spanish Course: Master Spanish Beginner to Advanced
      <div class="bestseller_text_card_hover">Bestseller</div>
      <div class="total_hourse">
        <p>15.5 total hoursAll LevelsSubtitles, CC</p>
      </div>
		</div>
		<div class="card-body card-body_popover">
			<h4 class="card-title_pragraph">Lorem Ipsum is simply dummy text of the printing </h4>
		   <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
			<div class="btn_card__popover">
        <a href="#" class="btn1 btn-secondary1_bgcolor">Add to cart</a>
        <a href="#" class="img_heart_whislist"><img src="{% static 'assets/images/heart.png' %}"></a>
      </div>
		</div>
		<!-- <div class="card-footer text-muted bg-warning text-right">
			<small class="text-white">
				2 days ago
			</small>
		</div> -->
	</div>	
</div>
</div>
</div>
</div>
<div>
<div>
<button class="card widthcard" id="pover-card" class="btn btn-lg btn-info" data-toggle="popover" data-trigger="focus" data-placement="right">
  <img src="{% static 'assets/images/maxresdefault.jpg' %}" alt="Avatar" style="width:100%">
  <div class="container_text container_text_bgcolor_blue">
    <h2>Reactfolio: Boost your online presence with react.</h2> 
    <!-- <p>Architect & Engineer</p>  -->
   <div class="review_grid_card gapreview_grid">
      <h3> <span class="rating_review_high">4.3</span> <img src="{% static 'assets/images/gold-star.png' %}" class="img-fluid"> <span class="rating_review_high">(12,000)</span> </h3>
    </div>
    <p>By Lorem Ipsum</p> 
    <div class="tile_list_price">
    <p>RM 5,999</p>
    
  </div>
  </div>
</button>
<div  class="popover-content"> 
<div id="popover-third">The third popover content goes here.</div>
<div id="popover-card" class="">
	<div class="card text-center">
		<div class="card-header">
			Complete Spanish Course: Master Spanish Beginner to Advanced
		</div>
		<div class="card-body">
			<h4 class="card-title">Special title treatment</h4>
			<p class="card-text">Using data-trigger="focus" causes the popover to close when you click away. Options are hover|focus|click</p>
			<a href="#" class="btn btn-secondary">Go somewhere</a>
		</div>
		<!-- <div class="card-footer text-muted bg-warning text-right">
			<small class="text-white">
				2 days ago
			</small>
		</div> -->
	</div>	
</div>
</div>
</div>
</div>
  </section>
      </div>
    </div>
    </div>
  </div>
</section>

<section class="free_online_bgcolor">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
            <div class="heading">
               <span>Popular for</span>
              <h1>Software Development </h1>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
       </div>
       <div class="col-md-12">
         <section class="regular1 slider">
<div>
<div>
<button class="card widthcard" id="pover-card" class="btn btn-lg btn-info" data-toggle="popover" data-trigger="action" data-placement="right">
  <img src="{% static 'assets/images/aws.jpg' %}" alt="Avatar" style="width:100%">
  <div class="container_text container_text_bgcolor_gray">
    <h2>Reactfolio: Boost your online presence with react</h2> 
    <!-- <p>Architect & Engineer</p>  -->
   <div class="review_grid_card gapreview_grid">
      <h3> <span class="rating_review_high">4.3</span> <img src="{% static 'assets/images/gold-star.png' %}" class="img-fluid"> <span class="rating_review_high">(12,000)</span> </h3>
    </div>
    <p>By Lorem Ipsum</p> 
    <div class="tile_list_price">
    <p>RM 5,999</p>
    
  </div>
  </div>
</button>
<div  class="popover-content"> 
<!-- <div id="popover-third" class="font_effect_heading">The third popover content goes here.</div> -->
<div id="popover-card" >
	<div class="card text-center">
		<div class="card-header font_effect_heading">
			Complete Spanish Course: Master Spanish Beginner to Advanced
      <div class="bestseller_text_card_hover">Bestseller</div>
      <div class="total_hourse">
        <p>15.5 total hoursAll LevelsSubtitles, CC</p>
      </div>
		</div>
		<div class="card-body card-body_popover">
			<h4 class="card-title_pragraph">Lorem Ipsum is simply dummy text of the printing </h4>
		   <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
			<div class="btn_card__popover">
        <a href="#" class="btn1 btn-secondary1_bgcolor">Add to cart</a>
        <a href="#" class="img_heart_whislist"><img src="{% static 'assets/images/heart.png' %}"></a>
      </div>
		</div>
		<!-- <div class="card-footer text-muted bg-warning text-right">
			<small class="text-white">
				2 days ago
			</small>
		</div> -->
	</div>	
</div>
</div>
</div>
</div>
 <div>
<div>
<button class="card widthcard" id="pover-card" class="btn btn-lg btn-info" data-toggle="popover" data-trigger="action" data-placement="right">
  <img src="{% static 'assets/images/react.jpg' %}" alt="Avatar" style="width:100%">
  <div class="container_text container_text_bgcolor_gray">
    <h2>Reactfolio: Boost your online presence with react.</h2> 
    <!-- <p>Architect & Engineer</p>  -->
   <div class="review_grid_card gapreview_grid">
      <h3> <span class="rating_review_high">4.3</span> <img src="{% static 'assets/images/gold-star.png'%}" class="img-fluid"> <span class="rating_review_high">(12,000)</span> </h3>
    </div>
    <p>By Lorem Ipsum</p> 
    <div class="tile_list_price">
    <p>RM 5,999</p>
    
  </div>
  </div>
</button>
<div  class="popover-content"> 
<!-- <div id="popover-third" class="font_effect_heading">The third popover content goes here.</div> -->
<div id="popover-card" >
	<div class="card text-center">
		<div class="card-header font_effect_heading">
			Complete Spanish Course: Master Spanish Beginner to Advanced
      <div class="bestseller_text_card_hover">Bestseller</div>
      <div class="total_hourse">
        <p>15.5 total hoursAll LevelsSubtitles, CC</p>
      </div>
		</div>
		<div class="card-body card-body_popover">
			<h4 class="card-title_pragraph">Lorem Ipsum is simply dummy text of the printing </h4>
		   <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png'%}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png' %}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png'%}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
			<div class="btn_card__popover">
        <a href="#" class="btn1 btn-secondary1_bgcolor">Add to cart</a>
        <a href="#" class="img_heart_whislist"><img src="{% static 'assets/images/heart.png'%}"></a>
      </div>
		</div>
		<!-- <div class="card-footer text-muted bg-warning text-right">
			<small class="text-white">
				2 days ago
			</small>
		</div> -->
	</div>	
</div>
</div>
</div>
</div>
    <div>
<div>
<button class="card widthcard" id="pover-card" class="btn btn-lg btn-info" data-toggle="popover" data-trigger="action" data-placement="right">
  <img src="{% static 'assets/images/web-dev.jpg'%}" alt="Avatar" style="width:100%">
  <div class="container_text container_text_bgcolor_gray">
    <h2>Reactfolio: Boost your online presence with react.</h2> 
    <!-- <p>Architect & Engineer</p>  -->
   <div class="review_grid_card gapreview_grid">
      <h3> <span class="rating_review_high">4.3</span> <img src="{% static 'assets/images/gold-star.png'%}" class="img-fluid"> <span class="rating_review_high">(12,000)</span> </h3>
    </div>
    <p>By Lorem Ipsum</p> 
    <div class="tile_list_price">
    <p>RM 5,999</p>
    
  </div>
  </div>
</button>
<div  class="popover-content"> 
<!-- <div id="popover-third" class="font_effect_heading">The third popover content goes here.</div> -->
<div id="popover-card" >
	<div class="card text-center">
		<div class="card-header font_effect_heading">
			Complete Spanish Course: Master Spanish Beginner to Advanced
      <div class="bestseller_text_card_hover">Bestseller</div>
      <div class="total_hourse">
        <p>15.5 total hoursAll LevelsSubtitles, CC</p>
      </div>
		</div>
		<div class="card-body card-body_popover">
			<h4 class="card-title_pragraph">Lorem Ipsum is simply dummy text of the printing </h4>
		   <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png'%}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png'%}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png'%}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
			<div class="btn_card__popover">
        <a href="#" class="btn1 btn-secondary1_bgcolor">Add to cart</a>
        <a href="#" class="img_heart_whislist"><img src="{% static 'assets/images/heart.png'%}"></a>
      </div>
		</div>
		<!-- <div class="card-footer text-muted bg-warning text-right">
			<small class="text-white">
				2 days ago
			</small>
		</div> -->
	</div>	
</div>
</div>
</div>
</div>
   <div>
<div>
<button class="card widthcard" id="pover-card" class="btn btn-lg btn-info" data-toggle="popover" data-trigger="action" data-placement="right">
  <img src="{% static 'assets/images/make-money-as-a-content-creator.webp'%}" alt="Avatar" style="width:100%">
  <div class="container_text container_text_bgcolor_gray">
    <h2>Reactfolio: Boost your online presence with react.</h2> 
    <!-- <p>Architect & Engineer</p>  -->
   <div class="review_grid_card gapreview_grid">
      <h3> <span class="rating_review_high">4.3</span> <img src="{% static 'assets/images/gold-star.png'%}" class="img-fluid"> <span class="rating_review_high">(12,000)</span> </h3>
    </div>
    <p>By Lorem Ipsum</p> 
    <div class="tile_list_price">
    <p>RM 5,999</p>
    
  </div>
  </div>
</button>
<div  class="popover-content"> 
<!-- <div id="popover-third" class="font_effect_heading">The third popover content goes here.</div> -->
<div id="popover-card" >
	<div class="card text-center">
		<div class="card-header font_effect_heading">
			Complete Spanish Course: Master Spanish Beginner to Advanced
      <div class="bestseller_text_card_hover">Bestseller</div>
      <div class="total_hourse">
        <p>15.5 total hoursAll LevelsSubtitles, CC</p>
      </div>
		</div>
		<div class="card-body card-body_popover">
			<h4 class="card-title_pragraph">Lorem Ipsum is simply dummy text of the printing </h4>
		   <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png'%}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png'%}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png'%}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
			<div class="btn_card__popover">
        <a href="#" class="btn1 btn-secondary1_bgcolor">Add to cart</a>
        <a href="#" class="img_heart_whislist"><img src="{% static 'assets/images/heart.png'%}"></a>
      </div>
		</div>
		<!-- <div class="card-footer text-muted bg-warning text-right">
			<small class="text-white">
				2 days ago
			</small>
		</div> -->
	</div>	
</div>
</div>
</div>
</div>
   <div>
<div>
<button class="card widthcard" id="pover-card" class="btn btn-lg btn-info" data-toggle="popover" data-trigger="action" data-placement="right">
  <img src="{% static 'assets/images/maxresdefault.jpg'%}" alt="Avatar" style="width:100%">
  <div class="container_text container_text_bgcolor_gray">
    <h2>Reactfolio: Boost your online presence with react.</h2> 
    <!-- <p>Architect & Engineer</p>  -->
   <div class="review_grid_card gapreview_grid">
      <h3> <span class="rating_review_high">4.3</span> <img src="{% static 'assets/images/gold-star.png'%}" class="img-fluid"> <span class="rating_review_high">(12,000)</span> </h3>
    </div>
    <p>By Lorem Ipsum</p> 
    <div class="tile_list_price">
    <p>RM 5,999</p>
    
  </div>
  </div>
</button>
<div  class="popover-content"> 
<!-- <div id="popover-third" class="font_effect_heading">The third popover content goes here.</div> -->
<div id="popover-card" >
	<div class="card text-center">
		<div class="card-header font_effect_heading">
			Complete Spanish Course: Master Spanish Beginner to Advanced
      <div class="bestseller_text_card_hover">Bestseller</div>
      <div class="total_hourse">
        <p>15.5 total hoursAll LevelsSubtitles, CC</p>
      </div>
		</div>
		<div class="card-body card-body_popover">
			<h4 class="card-title_pragraph">Lorem Ipsum is simply dummy text of the printing </h4>
		   <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png'%}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png'%}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
       <div class="media media-body_card_list_img">
        <img src="{% static 'assets/images/check.png'%}">
        <div class="media-body media-body_card_list">
           <p>1000+ most useful vocabulary words</p>
        </div>
       </div>
			<div class="btn_card__popover">
        <a href="#" class="btn1 btn-secondary1_bgcolor">Add to cart</a>
        <a href="#" class="img_heart_whislist"><img src="{% static 'assets/images/heart.png'%}"></a>
      </div>
		</div>
		<!-- <div class="card-footer text-muted bg-warning text-right">
			<small class="text-white">
				2 days ago
			</small>
		</div> -->
	</div>	
</div>
</div>
</div>
</div>
<div>
<div>
<button class="card widthcard" id="pover-card" class="btn btn-lg btn-info" data-toggle="popover" data-trigger="focus" data-placement="right">
  <img src="{% static 'assets/images/maxresdefault.jpg'%}" alt="Avatar" style="width:100%">
  <div class="container_text container_text_bgcolor_gray">
    <h2>Reactfolio: Boost your online presence with react.</h2> 
    <!-- <p>Architect & Engineer</p>  -->
   <div class="review_grid_card gapreview_grid">
      <h3> <span class="rating_review_high">4.3</span> <img src="{% static 'assets/images/gold-star.png'%}" class="img-fluid"> <span class="rating_review_high">(12,000)</span> </h3>
    </div>
    <p>By Lorem Ipsum</p> 
    <div class="tile_list_price">
    <p>RM 5,999</p>
    
  </div>
  </div>
</button>
<div  class="popover-content"> 
<div id="popover-third">The third popover content goes here.</div>
<div id="popover-card" class="">
	<div class="card text-center">
		<div class="card-header">
			Complete Spanish Course: Master Spanish Beginner to Advanced
		</div>
		<div class="card-body">
			<h4 class="card-title">Special title treatment</h4>
			<p class="card-text">Using data-trigger="focus" causes the popover to close when you click away. Options are hover|focus|click</p>
			<a href="#" class="btn btn-secondary">Go somewhere</a>
		</div>
		<!-- <div class="card-footer text-muted bg-warning text-right">
			<small class="text-white">
				2 days ago
			</small>
		</div> -->
	</div>	
</div>
</div>
</div>
</div>
  </section>
      </div>
    </div>
    </div>
  </div>
</section>

<section class="icon_big_bgcolor">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <div class="heading">
        <h1>Topics Recommended For You</h1>
        <p>Lorem Ipsum&nbsp;is simply dummy text of the printing and typesetting industry.</p>
      </div>
    </div>
      <div class="col-md-4 col-6 col-sm-6">
        <div class="icon_big icon_big_top">
          <img src="{% static 'assets/images/022.png' %}" class="img-fluid">
          <h2>Date Science</h2>
        </div>
      </div>
       <div class="col-md-4 col-6 col-sm-6">
        <div class="icon_big icon_big_top">
          <img src="{% static 'assets/images/033.png'%}" class="img-fluid">
          <h2>Business</h2>
        </div>
      </div>
       <div class="col-md-4 col-6 col-sm-6">
        <div class="icon_big icon_big_top">
          <img src="{% static 'assets/images/044.png'%}" class="img-fluid">
          <h2>Computer Science</h2>
        </div>
      </div>
      <div class="col-md-4 col-6 col-sm-6">
        <div class="icon_big icon_big_margin-top">
          <img src="{% static 'assets/images/055.png'%}" class="img-fluid">
          <h2>Social Science</h2>
        </div>
      </div>
      <div class="col-md-4 col-6 col-sm-6">
        <div class="icon_big icon_big_margin-top">
          <img src="{% static 'assets/images/066.png'%}" class="img-fluid">
          <h2>Math and Logic</h2>
        </div>
      </div>
      <div class="col-md-4 col-6 col-sm-6">
        <div class="icon_big icon_big_margin-top">
          <img src="{% static 'assets/images/011.png'%}" class="img-fluid">
          <h2>Web Development</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="we_are_here_bgcolor">
  <div class="container">
    <div class="row aligns-item-center">
    <!-- <div class="col-md-12">
      <div class="heading">
        <h1>Topics Recommended For You</h1>
        <p>Lorem Ipsum&nbsp;is simply dummy text of the printing and typesetting industry.</p>
      </div>
    </div> -->
    <div class="col-md-6">
      <div class="left_text">
        <span>Success starts within.</span>
        <h1>We're here to help achieve it.</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
      <div class="hero_btn hero_btn_gap_responsive">
        <a href="#">Leran More</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="right_images">
        <img src="{% static 'assets/images/cheerful-friends-studying11.jpg'%}" class="img-fluid">
      </div>
    </div>
    </div>
  </div>
</section>
<section class="we_are_here_bgcolor">
  <div class="container">
    <div class="row aligns-item-center">
    <div class="col-md-12">
      <div class="heading">
         <span>Why Choose</span>
        <h1> Customer Community</h1>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock........</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="right_images  row_whychoose_gap">
        <img src="{% static 'assets/images/colleagues-working-together-office.jpg'%}" class="img-fluid">
      </div>
    </div>
    <div class="col-md-6">
      <div class="left_text">
        <h1>Brings Opportunity
of Unlimited
Learning.</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
      <div class="hero_btn  hero_btn_gap_responsive">
        <a href="#">Leran More</a>
      </div>
    </div>
    
    </div>
  </div>
</section>
<section class="tech_bgcolor">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="tech_the_world_text">
          <h1>Teach the world online</h1>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock.......</p>
        </div>
        <div class="hero_btn hero_btn_center">
        <a href="#">Leran More</a>
      </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}