{% extends 'layouts/layout.html'%}
{% block content %}
{% load static %}
<section class="log-in_bgcolor">
  <div class="container">
    <div class="container_bgcolor">
      <div class="row">
        <div class="col-md-12">
          <div class="login_heading">
            <h1>Sign Up</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <form method="post" action="{%url 'signup' %} " class="form_login">
                {%csrf_token%}
                <div class="form-control">
                  <label>Full Name</label>
                  <input type="text" id="name" name="full_name" placeholder="Enter your full name">
                </div>
                <div class="form-control">
                  <label>Email</label>
                  <input type="text" id="email" name="email" placeholder="name@email.com">
                </div>

                <div class="form-control">
                  <label>Password</label>
                  <input type="password" id="password" name="password" placeholder="Enter your password">

                </div>
                <p class="text"><a href="#">Forgot Email?</a> </p>
               
                <button class="btn">Continue with Email <svg viewBox="0 0 24 24" fill="currentColor" width="24"
                    height="24" class="ssZm3nO" data-hook="suffix-icon">
                    <path
                      d="M9.14644661,8.14512634 C9.34170876,7.9498642 9.65829124,7.9498642 9.85355339,8.14512634 L14.206596,12.5 L9.85355339,16.8536987 C9.65829124,17.0489609 9.34170876,17.0489609 9.14644661,16.8536987 C8.95118446,16.6584366 8.95118446,16.3418541 9.14644661,16.1465919 L12.7923824,12.5 L9.14644661,8.85223312 C8.95118446,8.65697098 8.95118446,8.34038849 9.14644661,8.14512634 Z">
                    </path>
                  </svg></button>
              </form>
              <div class="bottom_line_flex">
                <hr class="horizontal_login_line">
                <div class="or_style">or</div>
                <hr class="horizontal_login_line">
              </div>

              <div class="media google_icon">
                <a href="#">
                  <p><img src="{% static 'assets/images/g-logo.png' %}"></p>
                </a>
                <div class="media-body media-body-google">
                  <span>Continue with Google</span>
                </div>
              </div>

              <div class="sign_login_text">
                <p>Already on Edu? <a href="{% url 'login' %}">Log in</a></p>
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}